:root {
  /* Основные шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Основной цвет текста */
  --main-color: #212121;
  --secondary-color: #757575;
  --hover-color: #2196f3;

  /* Основной цвет фона */
  --main-background-color: #e5e5e5;
  --secondary-background-color: #fff;
  --third-background-color: #2f303a;
  /* Основной маржин между соседними елементами */
  --main-li-margin: 30px;
  /* Основной падинг между елементами */
  --main-padding: 94px;
}

/* Главная */
body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}

/* Ссылки */
.link {
  display: block;
  text-decoration: none;
}

/* Общий контейнер */
.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Кнопки */
.button {
  cursor: pointer;
  border: 1px solid transparent;
}
/* Текст лого */
.logo-text {
  color: #2196f3;
}
/* Хедер */
.header-conteiner {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.nav-list {
  display: flex;
}
.header-list {
  display: flex;
  margin-left: auto;
}
.header {
  background-color: #ffffff;
}
.header-link {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-link {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
}
/* Навигация */
.nav-link {
  color: inherit;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  padding: 32px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.current {
  color: var(--hover-color);
}

/* контакты */
.header-item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 31px 0 32px;
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
}

.mail-icon::before {
  display: inline-block;
  width: 16px;
  height: 12px;
  content: "";
  background-image: url("../images/icon/mail.svg");
  /* background-size: contain; */
  background-position: center;
}
/* Герой */
.hero {
  background-color: var(--third-background-color);
  max-width: 1600px;
  padding-bottom: 200px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(48, 48, 58, 0.4)
    ),
    url("../images/background-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
  background-color: var(--hover-color);
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--hover-color);
}
/* Особенности */

.particular {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.particular-list {
  display: flex;
  flex-wrap: nowrap;
  /* margin-right: calc(-1 * var(--main-li-margin)); */
}
.particular-item {
  margin-right: 30px;
  flex-basis: calc((100% - 3 * var(--main-li-margin)) / 4);
}
.particular-list :last-child {
  margin-right: 0px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.particular-subtitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.particular-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color);
  letter-spacing: 0.03em;
}

.icon-item::before {
  display: block;
  height: 120px;
  content: "";
  background-color: #f5f4fa;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}
.icon-item:nth-child(1)::before {
  background-image: url("../images/icon/particular-first-icon.svg");
}
.icon-item:nth-child(2)::before {
  background-image: url("../images/icon/particular-second-icon.svg");
}

.icon-item:nth-child(3)::before {
  background-image: url("../images/icon/particular-third-icon.svg");
}

.icon-item:nth-child(4)::before {
  background-image: url("../images/icon/particular-forth-icon.svg");
}

/* О нас */
.about {
  padding-bottom: var(--main-padding);
}

.about-list {
  display: flex;
}
.about-item {
  padding: 0px;
  margin-right: var(--main-li-margin);
  flex-basis: calc((100% - 2 * var(--main-li-margin)) / 3);
}
.about-item:last-child {
  margin-right: 0px;
}

.about-title {
  /* width: 376px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

/* Наша команда */

.team {
  background-color: #f5f4fa;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.team-list {
  display: flex;
  /* margin-right: calc(-1 * var(--main-li-margin)); */
}
.team-item {
  /* width: 270px; */
  margin-right: var(--main-li-margin);
  /* flex-basis: calc((100% -90px) / 4); */
  flex-basis: calc((100% - 3 * var(--main-li-margin)) / 4);
}
.team-item:last-child {
  margin-right: 0px;
}
.team-title {
  /* width: 264px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.team-item {
  background-color: var(--secondary-background-color);
}
.person-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.person-text {
  font-size: 16px;
  line-height: 1.17;
  color: var(--secondary-color);
  text-align: center;
}
.person-card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001f;
  border-radius: 4px;
}
.personal-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.personal-item {
  margin-right: 10px;
}
.personal-item:last-child {
  margin-right: 0px;
}
.personal-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.personal-link-card {
  width: 20px;
  height: 20px;
}

.personal-item :hover.personal-link,
.personal-item :focus.personal-link {
  fill: #ffffff;
  background-color: var(--hover-color);
}

/* Футер */
.footer {
  background-color: var(--third-background-color);
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.footer-link {
  display: inline-block;
  font-family: var(--secondary-font);
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  width: 145px;
  margin-bottom: 20px;
}
.address {
  font-style: normal;
}

.address-location {
  display: inline-block;
  /* width: 231px; */
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  /* margin-bottom: 9px; */
}
.footer-contacts {
  display: inline-block;
  /* width: 231px; */
  color: rgba(255, 255, 255, 0.6);
  /* margin-bottom: 9px; */
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--hover-color);
}

/* Портфолио */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Кнопки */

.buttons-list {
  /* text-align: center; */
  display: flex;
  justify-content: center;
}

.buttons-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button {
  font-style: var(--main-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background-color: #f5f4fa;
  color: var(--main-color);
  border-radius: 4px;
  padding: 6px 22px;
  /* margin-bottom: 50px; */
  border: 0px;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--hover-color);
  color: #fff;
}
/* Проекты */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  /* width: 370px;
  height: 404px; 
  margin-right: calc(-1 * var(--main-li-margin));
  margin-bottom: calc(-1 * var(--main-li-margin)); */
}
.portfolio-item {
  margin-right: var(--main-li-margin);
  margin-bottom: var(--main-li-margin);
  flex-basis: calc((100% - 2 * var(--main-li-margin)) / 3);
}
.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
/* .portfolio-first-title {
  visibility: hidden;
} */

.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}

.portfolio-link {
  display: inline-block;
  width: 370px;
}
.title-conteiner {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-radius: 1px;
}
